:root {
    --primary-main: #00512c;
    --primary-light: #66d19e;
    --primary-dark: #002d1e;
    --primary-contrastText: #ffffff;
    --secondary-main: #35495e;
    --secondary-light: #526488;
    --secondary-dark: #2c3e50;
    --secondary-contrastText: #ffffff;
    --text-primary: #212121;
    --background-paper: #f5f5f5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: normal;

}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}