# Automatically creates gh-pages branch
# Set GitHub Pages to deploy from gh-pages branch

name: Vue App CI/CD

on:
  workflow_dispatch:
  
  push:
    branches: 
      - main
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      #- name: Run Vitest unit tests
      #  run: npx vitest run --coverage
      #  env:
      #    CI: true

      #- name: Run Cypress e2e tests
      #  uses: cypress-io/github-action@v5
      #  with:
      #    wait-on: http://localhost:5173
      #    start: npx vite --host

      #- name: Generate Cypress coverage report
      #  run: npx nyc report --reporter=text-summary
      #  if: always()

      - name: Build application
        run: npm run build
        env:
          CI: true

      # Configure GitHub Pages
      - name: Configure GitHub Pages
        if: github.ref == 'refs/heads/main'
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist